/*css styles

div {
	border: 1px solid red;
}
*/
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.main {
	max-width: 600px;
	margin: auto;
	display: flex;
	border: 3px solid black;
	border-radius: 15px;
}

.auto-img {
	width: 100%;
	height: auto;
	border-radius: 5%;
}

.hidden {
	display: none;
}

.list {
	width: 15%;
	border-right: 3px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.list ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
	border: 1px solid black;
	margin-right:-1px; 
	margin-bottom:-1px;
	margin-left:-1px; 
	margin-top:-1px;
}

.selected {
	margin-left: 0px !important;
	border-left: 10px solid #FF7800FF !important;
	background-color: grey;
	color: white;
}

.list ul li:hover {
	background-color: black;
	color: white;
}

.viewport {
	width: 85%;
	padding-right: 20px;
	padding-left: 20px;
}

.button {
    background-color: #47A34A;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
}

.button:hover {
    background-color: green;
}

.admin {
	max-width: 600px;
	margin: auto;
	margin-top: 50px;
	display: flex;
}

.admin .admin-view {
	text-align: left;
	border: 3px solid green;
	border-radius: 15px;
	width: 100%;
	float: right;
	padding: 20px;
}
.admin-view p {
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.admin-view h3 {
	text-align: center;
	padding-bottom: 20px;
	margin: 0;
}

#admin-save-area {
	float: right;
}

#admin-button {
	margin-right: 10px;
}